<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CucumberSuite" parallel="false">
	<test name="NoAuthTest">
	<classes>
            <class name="runners.NoAuthScenarios"/>
        </classes>
    </test>
  <test name="UserCreationTest">
	<classes>
            <class name="runners.UserCreationRunner"/>
        </classes>
    </test>
    <test name="ValidTest">
	<classes>
            <class name="runners.validRunner"/>
        </classes>
    </test>
    <test name="UserDeletionTest">
        <classes>
            <class name="runners.UserDeletionRunner"/>
        </classes>
    </test>
    
            
</suite> <!-- Suite -->
